html{
   background: #111 url(./background.jpg) no-repeat center;
   overflow: absolute;
   background-attachment: fixed;
   margin-top:100px; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

h1 {
   font: 56px/78px montserrat-regular, sans-serif;
   color: #bbb;
   text-align: center;
   padding: 0;
   margin: 0;
   text-shadow: 0px 1px 5px #000;
}

h5 { 
   color:#bbb;
   font: montserrat-regular, sans-serif; 
   text-align: center;
   text-shadow: 0px 1px 1px #000;
}


a, a:visited {
text-decoration: none;
outline: 0;
color:#1d1d1d;
   text-shadow: 0px 1px 1px #000;
-webkit-transition:color .3s ease-in-out;
-moz-transition:color .3s ease-in-out;
-o-transition:color .3s ease-in-out;
transition:color .3s ease-in-out;


}
p {
   text-align: center;
   color:#bbb;
   font: 15px/25px montserrat-regular, sans-serif;
}
a:hover, a:focus { color:#000; }
p a, p a:visited { line-height: inherit; }

img {
   position: relative;
   top: 140px;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   border-radius: 150px;
   -webkit-border-radius: 150px;
   -moz-border-radius: 150px;
   box-shadow: 0 0 8px rgba(0, 0, 0, .8);
   -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
   -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
